{{#admin-nav}}
  {{nav-item route='adminMl.models' label='ml.admin.model.title'}}
  {{nav-item route='adminMl.runs' label='ml.admin.run.title'}}
  {{nav-item route='adminMl.datasets' label='ml.admin.dataset.title'}}
{{/admin-nav}}

<div class="admin-container">
  {{outlet}}
</div>
