@import "common/admin/admin_base";
@import "common/components/navs.css.scss";

.ml {
  @extend .staff-actions;
  width: 100%;
  .heading-container, .table-item {
    display: flex;
  }
  .first {
    margin-left: 10px;
  }
  .label {
    width: 10%;
    flex: 0 1 auto;
  }
  .large-label {
    width: 20%;
    flex: 0 1 auto;
  }
  .flexible-label {
    flex: 1 1 auto;
  }
}

.ml-nav-button {
  @extend .nav-pills;
}
